<div class="container">
<address>
<div class="col-xs-3">
<hr>
<h4>姓名：</h4>
刘华佼 <br> 
<h4>坐标：</h4>
杭州
<hr>
</div>
<div class="col-xs-3">
<hr>
<h4>Blog：</h4>
<a href="http://dumpling001-blog.logdown.com/">dumpling001</a>
 <br><br><h4>公众号：</h4>LotusBloomsQuietly<br>（亮荷）
<br> <hr>
</div>
<div class="col-xs-6">
<hr>
<h4>我的故事：</h4>
<p>2005年毕业于电子信息工程专业，从前心智混沌，发展紊乱，从事过多年硬件类测试工作，经历过台资、港资、国企、私企、外企、外包公司，测试过笔记本电脑主板、汽车音响、计量电能表芯片、智能家居app。
</p><br>
<p>我热爱生活、热爱成长。2012年在书店无意中看到《把时间当作朋友》，2015年加入新生大学社群、共同成长社群。
  在“学习学习再学习”公众号上发表三篇分享文章，结识很多真诚、友好、上进的朋友。
  我与这些朋友组建了一个20多人的成长记录分享群，群员共分享20多次，我从中收获多多。</p>
  <br>
<p>在职业发展方面，一直在努力寻求兴趣与特长相结合的领域，2015年如愿转入软件测试。希望以后能在软件世界里继续探索，施展特长、成就自我、回馈社会。</p>
</p><br><br>
  <hr>
</div>
</div>
