<div id="gwd-header">
          <div class="container">
            <h1>
              专为使用Ruby的地球人实现梦想
            </h1>
            <p>
               我们提供的岗位遍布北京、深圳、上海、杭州等热门城市。
            </p>
            <%= render "welcome/city_images" %>
            <a class="gwd-download-link btn blue-btn maia-button lb" data-disabled-content="Available for Mac, Win and Linux" data-g-action="Download" data-g-event="Home" data-g-label="Download" data-lightbox-height="440" data-lightbox-width="550" event="autotrack-data-g" href="/jobs" id="download-button" data-lightbox-index="1">
              查看全部工作机会</a>
            <span id="download-gwd-note">
            </span>
            <div class="hero-animation-cont">
              <video autoplay="autoplay" class="feature-video-home" playsinline="true" preload="auto" webkit-playsinline="true"><source src="/webdesigner/videos/home/home-animation.mp4" type="video/mp4"></video>
            </div><img alt="Google Web Designer timeline" class="mobile-only" data-retina="300x132" id="mobile-hero" src="images/animation-fallbacks/home/en/mobile-hero.jpg">
          </div>
</div>



<!-- part2 -->
<div data-retina="1281x688" id="multiscreen-cont" style="margin-top: -20px;">
          <div class="container">
            <h2 class="gwd">
              追逐梦想，成就梦想
            </h2>
            <p>

            </p>
          </div>

          <div id="multi-screen-mobile">
            <img alt="Mobile" src="<%= image_url 'happychild.png' %>">
          </div>
          <div id="multi-screen-tablet">
            <img alt="Tablet" src="<%= image_url 'fireballoon.png' %>">
          </div>
</div>


<!-- part3 -->
<div class="animation animate-me" data-retina="1x668" id="top-features-cont">
          <div class="container">
            <div class="laptop-left" data-retina="542x384">
              <h2>
                我们的求职者说：
              </h2>
              <p>
                “这个网站太好了，<br>我就是在这里找到了梦想中的工作。<br>我爱死现在的工作了。”
              </p>
              <div class="dino" data-retina="320x275"></div>
            </div>
            <div class="laptop-right" data-retina="539x384">
              <h2>
                我们的招聘者说：
              </h2>
              <p>
                “太不可思议了，<br>我公司的所有优秀员工，<br>都是在这个网站上找到的！”
              </p>
              <div class="code-snippet" data-retina="317x157"></div>
            </div>
            <div class="clear"></div>
          </div>
</div>
