/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.html {
  height: 100%;
}

.body {
  font-family: Verdana,"Helvetica Neue",Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.main {
  background-color: #f2f2f2;
  margin-bottom: 100px;
}

.navbar {
  min-height: 70px;
  padding: 20px;
}

.navbar-inverse {
  background: #fafafa;
}

.navbar-inverse, .navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ebb000;
  // background-color: #585858;
}

.navbar-inverse{
  border-radius: 0px;
}

.navbar-inverse .navbar-brand {
  color: #ebb000;
}

footer {
  height: 100px;
  background-color: #414a60;
  p {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
  }
}

.alert{
  margin-top: -20px;
  border-radius: 0px;
}

.panel-body {

  p{
    color: #767888;
    font-size: 120%;
  }
}

.panel-heading h1 {
  color: #d4053b;
  font-size: 500%
}

#myCarousel {
}

.carousel-caption {
    left: 30%;
    right: 5%;
    top: 6%;
}

#hiddenbutton {
  visibility: hidden;
  height: 0px;
}

#hiddenpanel {
  background-color: rgba(56, 14 ,14, 0.28)
}

@media only screen and (max-width: 1200px) {

    .carousel-caption {
      width: 80%;
      top: 0px;
    }

    .carousel-caption p a {
      visibility: hidden;
    }

    .panel-heading h1 {
      font-size: 200%;
    }

    .panel-body p {
      font-size: 100%;
    }

    #hotjobs table {
      visibility: hidden;
    }

    .carousel-caption p {
      margin-left: 0px;
      margin-bottom: 0px;
    }

    #hiddenbutton {
      visibility: visible;
    }

    #hiddenpanel {
      background-color: rgba(231, 174, 0, 1);
      border: 0px;
    }
}

.carousel-inner img {
    /*-webkit-filter: grayscale(90%);*/
     /*filter: grayscale(90%); make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
    background: repeating-radial-gradient(black, black 5px, white 5px, white 10px);
}

.carousel-caption h3 {
    color: #fff !important;
}

.city-item {
  margin: -20px -15px 0px -15px;
}

.col-md-3 img {
  margin-bottom: 20px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

#search-id {
  width: 200px;
  padding-top: 7px;

}

.search-info-title {
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
  color: #0d6ded;
  font-size: 20px;
  text-align: center;
}


.jobs-show0 {
  border-bottom: 1px dotted #CCC;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
}

/* google website designer */

#multiscreen-cont{-moz-background-size:cover;-o-background-size:cover;-webkit-background-size:cover;background:image_url("multi-screen-background2.jpg") no-repeat center center;background-size:cover;height:600px;margin-top:-2px;overflow:hidden;padding-top:68px;position:relative;-ms-background-size:cover}
#multiscreen-cont h2{color:#333;font-size:36px;margin:0 auto 20px;text-align:center;width:62%}
#multiscreen-cont p{color:#333;margin:0 auto;text-align:center;width:62%}
#multiscreen-cont #multi-screen-tablet{-moz-transform:rotate(3deg);-ms-transform:rotate(3deg);-o-transform:rotate(3deg);-webkit-transform:rotate(3deg);bottom:-11px;left:46%;position:absolute;transform:rotate(3deg)}
#multiscreen-cont #multi-screen-mobile{-moz-transform:rotate(-4deg);-ms-transform:rotate(-4deg);-o-transform:rotate(-4deg);-webkit-transform:rotate(-4deg);bottom:50px;left:30%;overflow:hidden;position:absolute;transform:rotate(-4deg)}

@media only screen and (max-width:1024px){#multiscreen-cont #multi-screen-mobile{left:25%}
}
@media only screen and (max-width:1000px){.container{max-width:980px;padding:0 1%;width:94%}
#home-page .container img{margin:0 auto;width:100%}
#multiscreen-cont h2{padding-left:10%;width:80%}
#multiscreen-cont p{padding-left:10%;width:50%}
#multiscreen-cont #multi-screen-mobile{left:16%}
#top-features-cont .container{width:100%}
#features-cont .feature .feature-writeup{margin-top:0;width:40%}
#support-cont .support-type img{width:auto}
#gwd-header .hero-animation-cont{background-size:contain;background-position:center bottom;height:350px;width:100%}
}

@media only screen and (max-width:720px){#gwd-header #nav,.hero-animation-cont{display:none}
.mobile-only{display:block}
#gwd-header h1{font-size:4.1em;line-height:1.2;margin:10px 0 35px}
#gwd-header h1 span{display:block;margin:0 auto 15px}
#multiscreen-cont h2{line-height:1.2}
#multiscreen-cont p{width:80%}
#multiscreen-cont #multi-screen-mobile{left:0}
#top-features-cont{padding:60px 0 40px}
#top-features-cont .container{width:100%}
#top-features-cont .laptop-left,#top-features-cont .laptop-right{float:none;margin-bottom:40px;margin-top:0;width:100%}
#features-cont{padding:0 0 40px}
#features-cont .feature{text-align:center}
#features-cont .feature .fl,#features-cont .feature .fr{float:none}
#features-cont .feature img{max-width:none}
#features-cont .feature .feature-animation{margin:0 auto}
#features-cont .feature .feature-writeup{margin:20px auto;width:80%}
#features-cont .feature .feature-writeup h3{color:#333;font-size:2.4em;line-height:1.1;margin-bottom:15px}
#features-cont .feature .feature-writeup p{width:100%}
#support-cont .container{padding:0 4.5%;width:90%}
#support-cont .container .support-type img{margin-right:27px}
#support-cont .container .support-type img#community-icon{margin-right:15px}
#multiscreen-cont #multi-screen-tablet{left:36%}
}

@media only screen and (max-width:480px){#multiscreen-cont #multi-screen-mobile{bottom:-48px;left:-32px}
#multiscreen-cont #multi-screen-mobile img,#multiscreen-cont #multi-screen-tablet img{width:87%}
#multiscreen-cont #multi-screen-tablet{bottom:-80px;left:135px;width:387px}
.gif-previewer{min-height:108px}
#gwd-features-hero .page-nav{display:none}
#maia-main #gwd-features-hero{padding-bottom:0}
}
